{% extends "layout.html" %}

{% block content %}

<form method="POST" class="form-horizontal" role="form" action="/verify">
    {% from "_formhelpers.html" import render_errors, render_field %}
    {{ form.csrf_token }}
    {{ render_errors(form) }}
    <hr/>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
        {{ message }}<br/>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    
    {{ render_field(form.email, placeholder='darth@vader.com') }}
    {{ render_field(form.verification_code) }}


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a id="resend-link" href="{{ url_for('resend', email='___') }}">Resend code</a>
        </div>
    </div>
</form>

{% endblock %}


{% block scripts %}
<script>
        $(function () {
            $('#resend-link').click(function (e) {
                var email = $("#email").val();
                console.log(email);
                console.log(this.href);
                this.href = this.href.replace("___", email);
                console.log(this.href);
            });
        });
</script>

{% endblock %}